<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="container">

    
    </form>


    
    <ul>
        <div>
            <h3 class="text-3xl font-medium text-gray-700">Make_it</h3>
        
            
        
            <div class="mt-8"></div>
        
            
          </div>

        <div class="flex flex-col mt-8">
            <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
              <div
                class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
              >
                <table class="min-w-full">
                  <thead>
                    
                      <th class="px-6 py-3 border-b border-gray-200 bg-gray-50">FILE NAME</th>
                  </thead>
                    <tbody class="bg-white">
                      <tr v-for="(u, index) in users" :key="index">
                        <td
                          class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                        >
                          <div class="flex items-center">
                            <div class="flex-shrink-0 w-10 h-10">
                              <img
                                class="w-10 h-10 rounded-full"
                                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt=""
                              />
                            </div>
        
                            <div class="ml-4">
                              <div class="text-sm font-medium leading-5 text-gray-900">
                              </div>
                              <div class="text-sm leading-5 text-gray-500">
                              </div>
                            </div>
                          </div>
                        </td>
        
                        <td
                          class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                        >
                          <div class="text-sm leading-5 text-gray-900">
                          </div>
                          <div class="text-sm leading-5 text-gray-500">
                          </div>
                        </td>
        
                        <td
                          class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                        >
                          <span
                            class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full"
                            ></span
                          >
                        </td>
        
                        <td
                          class="px-6 py-4 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"
                        >
                        </td>
        
                        <td
                          class="px-6 py-4 text-sm font-medium leading-5 text-right border-b border-gray-200 whitespace-nowrap"
                        >
                          <a href="/content/Design" class="text-indigo-600 hover:text-indigo-900"
                            >Design</a
                          >
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
    </ul>

    <footer>
      <p>&copy; 2024 Bunga-low Inc. All Rights Reserved</p>
    </footer>
  </div>
</body>
</html>
